{% extends '../../base/app.html' %}

{% block content %}
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="">
                    {{ video.file|safe }}
                </div>
                <div style="margin-top:2em;">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <a href="#" class="button is-small">
                                    <span class="icon"><i class="fas fa-star"></i></span>
                                    <span>Favorite</span>
                                </a>
                            </div>
                            <div class="level-item">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-view">
        <div class="hero is-burnt is-medium">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-8 is-marginless is-paddingless">
                            <h1 class="title is-3 has-text-white">{{ video.title }}</h1>
                            <p>{{ video.description }}</p>
                            <hr>
                            <aside class="menu">
                                <p class="menu-label has-text-white">Course files</p>
                                {% include '../snippets/course-files-list.html' with tutorial=course.id  files=files %}
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
