<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Komotion Academy</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'images/logo.png' %}">
    </head>
    <body>
        <div id="wrapper">
            {% include 'parts/app/app_nav.html' %}
            <!-- Content Area -->
            <div id="content-wrapper">
                {% block content %}
                {% endblock content %}
            </div>

            {% include 'parts/app/app_footer.html' %}
        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
