<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>User - Komotion Academy</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="user-form">
            <!-- Content Area -->
            <div class="hero is-fullheight is-burnt background-logo">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column is-4">
                                <div class="has-text-centered">
                                    <a href="{% url 'academy:index' %}" class="logo">
                                        <img src="{% static 'images/logo.png' %}" alt="Komotion Academy">
                                    </a>
                                </div>
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
