{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="title">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <p class="login-or">{% trans 'or' %}</p>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  <div class="field">
      {{ form.login }}
  </div>
  <div class="field">
      {{ form.password }}
  </div>
  <div class="field">
      <label>{{ form.remember }} Remember me</label>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button is-info" type="submit">{% trans "Sign In" %}</button><br><br>
  <p><a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
</form>
<hr>
<h4 class="title is-6">{% blocktrans %}Don't have an account?
<a href="{{ signup_url }}">Click here to sign up</a>{% endblocktrans %}</h4>
{% endblock %}
