{% include '../snippets/browse.html' %}
<footer class="hero is-dark" id="footer">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h4 class="title">Connect</h4>
                    <div class="level is-mobile">
                        <div class="level-left">
                            <a href="#" class="level-item"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="level-item"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="level-item"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h4 class="title">Subscribe</h4>
                    <form action="#">
                        <div class="field has-addons">
                            <p class="control is-fullwidth">
                                <input type="search" class="input is-small" placeholder="Email">
                            </p>
                            <p class="control">
                                <button class="button is-info is-small">Subscribe</button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <h4 class="title">More from Komotion</h4>
                </div>
            </div>
            <p class="is-size-7" style="opacity: .3">Komotion Academy - All Rights Reserved &copy; Copyright 2018</p>
        </div>
    </div>
</footer>
